.portfolio-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portofolio1 {
  text-align: center;
  margin: 7px 0;
  
  }
  .edit{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .line2 {
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: #fff;
  vertical-align: middle;
  }
  .star2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  vertical-align: middle;
  margin: 0 10px;
  
  }
.portfolio-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
  /* margin-top: px; */
}

.portfolio-container h1 {
  margin-bottom: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
text-align: center;
  }